:root {
  --primary: #face55;
  --bg: #7dbba9;
  --secondary: #122727;
  --text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  height: 3000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--bg);
}

.navbar .nav-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text);
}

.navbar .nav-brand img {
  width: 2.5rem;
  height: auto;
  aspect-ratio: 1/1;
}

.navbar .nav-links a {
  display: inline-block;
  color: var(--text);
  font-size: 1.3rem;
  padding: 0 0.5rem;
  transition: all 0.2s ease;
}

.navbar .nav-links a:hover {
  color: var(--primary);
}

.navbar .nav-links a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.15rem solid var(--primary);
  transform: scaleX(0);
  transition: all 0.2s linear;
}

.navbar .nav-links a:hover::after {
  transform: scaleX(1);
}

.hamburger {
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.bar {
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--text);
  margin: 0.2rem 0;
}
/* Navbar End */

/* Hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  padding: 0 7%;
}

.hero .content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.hero::after {
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/bg-desktop.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero .content .cta {
  background-color: var(--primary);
  border-radius: 3rem;
  width: max-content;
  padding: 1.25rem;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease;
}

.hero .content .cta:hover {
  background-color: var(--secondary);
  color: var(--text);
}
/* Hero End */

/* About */
.about {
  background-color: var(--secondary);
}
/* About End */

/* RESPONSIVE DESIGN */

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  /* Navbar */
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar .nav-links {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 40%;
    height: 100vh;
    background-color: var(--text);
    transition: all 1s ease;
  }

  .navbar .nav-links.active {
    right: 0;
  }

  .navbar .nav-links a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .nav-links a::after {
    transform-origin: 0 0;
  }

  .navbar .nav-links a:hover::after {
    transform: scaleX(0.3);
  }
  /* Navbar End */
}

/* Mobile Phone */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }

  /* Navbar */
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar .nav-links {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 40%;
    height: 100vh;
    background-color: var(--text);
    transition: all 1s ease;
  }

  .navbar .nav-links.active {
    right: 0;
  }

  .navbar .nav-links a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.75rem;
  }

  .navbar .nav-links a::after {
    transform-origin: 0 0;
  }

  .navbar .nav-links a:hover::after {
    transform: scaleX(0.5);
  }
  /* Navbar End */
}
