:root {
  --primary: #face55;
  --bg: #7dbba9;
  --secondary: #122727;
  --text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-margin: 5rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text);
  height: 3000px;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--bg);
}

.navbar .nav-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text);
  transition: all 0.3s ease;
}

.navbar .nav-brand:hover {
  scale: 1.05;
}

.navbar .nav-brand img {
  width: 2.5rem;
  height: auto;
  aspect-ratio: 1/1;
}

.navbar .nav-links a {
  display: inline-block;
  color: var(--text);
  font-size: 1.3rem;
  padding: 0 0.5rem;
  transition: all 0.2s ease;
}

.navbar .nav-links a:hover {
  color: var(--primary);
}

.navbar .nav-links a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.15rem solid var(--primary);
  transform: scaleX(0);
  transition: all 0.2s linear;
}

.navbar .nav-links a:hover::after {
  transform: scaleX(1);
}

.hamburger {
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.bar {
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--text);
  margin: 0.2rem 0;
}
/* Navbar End */

/* Hero */
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  padding: 0 7%;
  background-image: url(assets/bg-desktop.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 80px;
}

.hero .content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  padding-right: 14%;
  width: 100%;
}

.hero .content::backdrop {
  filter: blur(10px);
}

.hero::after {
  content: "";
  display: block;
  width: 100%;
  height: 25%;
  position: absolute;
  background-image: linear-gradient(
    to top,
    var(--secondary),
    rgba(255, 255, 255, 0)
  );
  bottom: 0;
  left: 0;
}

.hero .content .cta {
  background-color: var(--primary);
  border-radius: 3rem;
  width: max-content;
  padding: 1.25rem;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease;
}

.hero .content .cta:hover {
  background-color: var(--secondary);
  color: var(--text);
}
/* Hero End */

/* About */
#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  top: 170%;
  width: 100vw;
  background-color: var(--secondary);
  padding: 2rem 7%;
  font-size: 2rem;
  font-weight: bold;
  /* scroll-margin: 5rem; */
}

#about .about-text {
  display: flex;
  gap: 10rem;
}

#about h1 {
  padding: 1.5rem 0;
  font-size: 4rem;
}

#about .description {
  font-size: 1.5rem;
  font-weight: lighter;
}

#about .cards {
  display: flex;
  gap: 2rem;
}

#about .cards .card {
  border-radius: 2rem;
  padding: 1.5rem;
  background-color: rgba(42, 83, 83, 0.5);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

#about .cards .card:hover {
  scale: 1.05;
}

#about .cards .lead {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

#about .cards .lead img {
  width: 2rem;
  aspect-ratio: 1/1;
}

#about .cards h4 {
  font-size: 1.5rem;
}

#about .cards p {
  font-size: 1rem;
  font-weight: lighter;
}
/* About End */

/* Gallery */
#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
  top: 230%;
  width: 100vw;
  padding: 2rem 7%;
  /* scroll-margin: 5rem; */
}

#gallery h1 {
  font-size: 2rem;
}
/* Gallery End */

/* RESPONSIVE DESIGN */

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  /* Hero */
  .hero {
    background-image: url(assets/bg-laptop.webp);
    background-position: center 60px;
  }
  /* Hero End */

  /* About */
  #about {
    font-size: 1.5rem;
  }

  #about h1 {
    font-size: 3rem;
  }

  #about .description {
    font-size: 1.25rem;
  }
  /* About End */
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  /* Navbar */
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .hamburger:hover {
    scale: 1.05;
  }

  .navbar .nav-links {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 40%;
    height: 100vh;
    background-color: var(--secondary);
    transition: all 1s ease;
  }

  .navbar .nav-links.active {
    right: 0;
  }

  .navbar .nav-links a {
    color: var(--text);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .nav-links a::after {
    transform-origin: 0 0;
  }

  .navbar .nav-links a:hover::after {
    transform: scaleX(0.3);
  }
  /* Navbar End */

  /* Hero */
  .hero {
    background-image: url(assets/bg-tablet.webp);
    background-position: center 50px;
  }
  /* Hero End */

  /* About */
  #about {
    font-size: 1.5rem;
  }

  #about h1 {
    font-size: 3rem;
  }

  #about .description {
    font-size: 1.25rem;
  }
  /* About End */
}

/* Mobile Phone */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }

  /* Navbar */
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .hamburger:hover {
    scale: 1.05;
  }

  .navbar .nav-links {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 40%;
    height: 100vh;
    background-color: var(--secondary);
    transition: all 1s ease;
  }

  .navbar .nav-links.active {
    right: 0;
  }

  .navbar .nav-links a {
    color: var(--text);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.75rem;
  }

  .navbar .nav-links a::after {
    transform-origin: 0 0;
  }

  .navbar .nav-links a:hover::after {
    transform: scaleX(0.5);
  }
  /* Navbar End */

  /* Hero */
  .hero {
    background-image: url(assets/bg-phone.webp);
    background-position: center 40px;
  }
  /* Hero End */

  /* About */
  #about .about-text {
    gap: 5rem;
  }

  #about .cards {
    flex-direction: column;
  }

  #about h1 {
    font-size: 2.5rem;
  }

  #about .description {
    font-size: 1rem;
  }
  /* About End */
}
